[Unit]
Description=OpenLLM Daemon
After=network.target

[Service]
User=YOUR_USERNAME
WorkingDirectory=/home/YOUR_USERNAME/
ExecStart=/home/YOUR_USERNAME/openllm-venv/bin/openllm serve qwen2.5:7b
Restart=always

[Install]
WantedBy=multi-user.target
